.main-section__form {
  display: grid;
  gap: 0.8rem;
  grid-template-columns: 60%;
  grid-template-rows: repeat(2, 45%);
}

input {
  padding: 0.5rem 0.7rem;
  font: {
    family: inherit;
    size: inherit;
  }
  border: {
    width: 1px;
    style: solid;
    radius: $inner-border-radius;
    color: $dark-background;
  }

  &.form__input-field {
    transition: all 200ms;
    &:focus {
      outline: none;
      background-color: $light-background;
    }

    &--name {
      grid-column: 1/3;
      grid-row: 1/1;
    }

    &--value {
      grid-column: 1/2;
      grid-row: 2/3;
    }
  }

  &.form__add {
    color: aliceblue;
    border: none;
    grid-column: 2/3;
    grid-row: 2/3;

    &:hover,
    &:active {
      background-color: $dark-background;
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }

    &--income {
      background-color: $light-green;

      &:hover,
      &:active {
        background-color: $dark-green;
        cursor: pointer;
      }
    }

    &--expense {
      background-color: $light-red;

      &:hover,
      &:active {
        background-color: $dark-red;
        cursor: pointer;
      }
    }
  }
}
